# Object files
*.o
*.pkl
*.pyc

# Libraries
*.lib
*.a

# Eclipse files
.settings/
*.project
*.classpath

# IntelliJ files
.idea/
*.iml

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Temporary files
*~

# other stuff
*.xpr
*.swp
/bin/
.*.swp
*.sublime-*

# Java stuff
*.javac
.gwt/
target/


# Python cache file
__pycache__/

# SQLite file, if not used
db.sqlite3

# Environment files and directories
env/
.env

node_modules/
missions/migrations/**

# Django secret settings
local.py

# Translations
*.mo
*.po

# Unit test / coverage reports
.coverage

# Media files
media/**