{% extends "reviews.html" %}
{% load wagtailcore_tags wagtailimages_tags static i18n %}
{% block body_class %}template-missiondatapage{% endblock %}


{%block content%}
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="{{page.get_parent.url}}">
              <span data-feather="home"></span>
              Back to Review Home <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 style="text-align: center;">
          {{page.get_parent.title}} Data
        </h1>
        <hr class="class-1" />
      </div>
      {% if page.data %}
      {% block data %}
      <div id="data">
   
        <div id="{{block.value.data_name|slugify}}">
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <tr>
                <th>Data</th>
                <th>Description</th>
              </tr>
              {% for block in page.data %}   
              <tr>
                <td>
                  <a href="{{ block.value.link }}">{{block.value.name}}</a>
                </td>
                <td>
                  {{ block.value.description }}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
          <br>
        </div>
      </div>

      {% endblock %}
      <hr class="class-1" />
      {% endif %}
      <div id="example1" class="hot handsontable htColumnHeaders"></div>
    </main>

  </div>
</div>
{% endblock %}
